/**
 * Site header
 */
body {
  margin: -50px 0;
  padding: 0;
  background-color: #150220;
}

.wrapper .container {
  max-width: 80rem;
  margin-top: -50px;
}

$bg-color: #150220;
$fg-color: #f54171;
$neon-color: #fdf;
$shirt-background-color: rgba(255, 221, 221, 0.3);

.site-header {
  text-align: center;
  background-color: $bg-color;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

.tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.8vw;
  color: $neon-color;
  text-shadow:
    0 0 .1em $neon-color,
    // 0 0 .5em $bg-color,
    0 0 .5em $neon-color,
    0 0 1em $neon-color;

  &:hover {
    cursor: pointer;
    text-shadow:
    0 0 .2em $neon-color,
    0 0 .5em $neon-color,
    0 0 1em $neon-color;

  }
}


.divider {
  background-color: $neon-color;
  height: 2px;
  width: 100%;
  // margin-top: -1px;
  position: absolute;
  // overflow: visible;
  // bottom: -5px;
  box-shadow:
    0 0 .8em .1em $neon-color,
    0 0 .20em $neon-color,
    0 0 10em $neon-color;
}

.navbar {
    display: block;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
    color: $neon-color;
    text-shadow:
      0 0 .2em $neon-color;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $neon-color;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    color: $neon-color;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $neon-color;
    background-color: $bg-color;
    background-blend-mode: overlay;

    box-shadow:
      0 0 .1em .05em $neon-color;
    
    &:hover {
        border: 1px solid $fg-color;

        box-shadow:
          0 0 .5em .05em $fg-color;

          .post-title {
            color: $fg-color;

            text-shadow:
              0 0 .2em $fg-color;
          }
    }
}

.preview-panel {
  img {
    filter: drop-shadow(0px 0px 10px $shirt-background-color);
  }
}
